body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.img1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
}


main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.section{

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}

.box-contain{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15);
    border-top: 15px solid transparent;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}
h1, h2 {
    color: #e80564;
}

footer {
    background-color: #e80564;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.box-contain:hover {
    border-top: 15px solid #e80564;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, .15);
    height: 350px;
}

a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    
    .section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
